langchain
langchain-community
langchain-openai
langgraph
langsmith
uv
pydantic
pydantic_core
mkdocs-material
griffe
ruff
python-dotenv
crewai-tools
mcp
uvicorn>=0.24.0
requests
beautifulsoup4
fastapi
litellm>=1.74.9
pydantic-ai
openai-agents
acp-sdk>=1.0.1
crewai-tools[mcp]>=0.75.0
crewai[tools]>=0.201.1
linkup-sdk>=0.6.0
mcp[cli]>=1.12.4
opentelemetry-sdk>=1.37.0
opentelemetry-exporter-otlp>=1.7.0
tenacity>=8.2.3
aiohttp
fastmcp
google-search-results
serpapi
telemetry
acp-mcp
beeai-framework